<footer>
  <div class="contact-info">
    <p>Email: second-help@gmail.com</p>
    <p>Phone: 761-104-9753</p>
    <p>Address: City central, Jaipur, Rajasthan</p>
  </div>
  <div class="social-media">
    <a href="https://www.facebook.com/profile.php?id=100010075440453" target="_blank"><fa-icon [icon]="faFac"></fa-icon></a>
    <a href="https://twitter.com/Prince34998" target="_blank"><fa-icon [icon]="faTwi"></fa-icon></a>
    <a href="https://instagram.com/prince34998?igshid=ZDdkNTZiNTM=" target="_blank"><fa-icon [icon]="faIns"></fa-icon></a>
  </div>
  </footer>

